@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

@layer base {
  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: 100%;
    background: rgb(9, 9, 121);
    background: radial-gradient(
      circle,
      rgba(9, 9, 121, 1) 0%,
      rgba(2, 0, 36, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );

    @media (min-width: 1024px) {
      /* background-image: linear-gradient(#112754, #111153, #0a093e, #020024); */
      background-image: url("./../public/loginBackground.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
